h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3.25em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.2em;
	color:#e31d1a;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 1.2em
	color: #333333;
	padding:2em;
}

hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border: .5em solid #e31d1a;
    width:5em;
margin-left:0;
    }
    

ul {
    margin: 1em 0;
    padding: 0 2em;
    list-style: none;
}
li:before { 
 content: "";
    border-color: transparent #e31d1a;
    border-style: solid;
    border-width: .3em 0 .3em .5em;
    display: block;
    height: 0;
    width: 0;
    left: -.85em;
    top: .9em;
    position: relative;
    color: #e31d1a !important;
}


/*
li:before {
    background:url(images/sprite.png) no-repeat -2px -2px;
    width:5px;
    height:5px;
    display:block;
    position:absolute;
    content: " ";
    top:5px;
    left:5px;
}
*/
/*

li{
    list-style:none;
    padding: 0;
    background: url(images/sprite.png) 0px 0px repeat-y center center;
}
*/

/*
ul { 
  list-style-type:none;
}

ul li {
  background:url(images/sprite.png) no-repeat;
  height:12px;
}

ul li.comment {
  background-position: 0 0;
  /*Override properties here if you wish */
}
*/